<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Create post</title>
</head>
<body id="body">
    <header >
        <div class="header__wrapper">
            <a class="header__logo logo" href="/">For...<br>umm</a>
    </header>
    <main>
        <h1 class="visually-hidden">Create post page</h1>
        <h2 class="latest-post__heading">Create post</h2>
            <form class="form main-create-post" action="/create-post" method="post">
                <fieldset>
                    <label for="post">Type a text</label>
                    <textarea name="post" id="post"></textarea>
                </fieldset>
                <button class="button" type="submit">Post</button>
            </form>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <a class="footer__logo logo" href="/">For...<br>umm</a>
            <div class="footer__legal">
                <p>&#169;2022. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>