<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Forum</title>
</head>
<body id="body">
    <header >
        <div class="header__wrapper">
            <a class="header__logo logo" href="/">For...<br>umm</a>

            <div class="header__filter">
                <a href="">Latest posts</a>
                <a href="">Most Liked</a>
                <a href="">Category</a>
            </div>
            <div class="header__user">
              <span>DDARZOX</span>
            </div>
        </div>
    </header>
    <main>
        <h1 class="visually-hidden">FORUM</h1>
        <div class="main-wrapper">
            <section class="latest-posts">
                <h2 class="latest-post__heading">Latest posts</h2>
                <ul class="latest-posts__list">
                    <li class="latest-posts__item">
                        <article class="post">
                          <header class="post__header">
                            <address><span>By:</span><a href="">ddarzox</a></address><time datetime="2022-10-27"> on 27/10/2022</time>
                          </header>
                          <section class="post__main">
                            <h3>What do you do for fun?</h3>
                            <p class="post__text">Hi, so I like to play games with the kids in my family. I play games such as hide and seek, Snakes and Ladder and the new ones that they learn in school. It reminds me of my childhood whenever I spend time with them. I may also watch comedy shows on YouTube. And sometimes...<a href="">Read more</a></p>
                          </section>
                          <footer class="post__footer">
                            <p class="post__info-comments"><a href="">25 comments</a></p>
                            <p class="post__info-likes">10</p>
                          </footer>  
                        </article>
                    </li>
                    <li class="latest-posts__item">
                        <article class="post">
                            <header class="post__header">
                              <address><span>By:</span><a href="">robbertkuk</a></address><time datetime="2022-10-26"> on 26/10/2022</time>
                            </header>
                            <section class="post__main">
                              <h3>Why Do Girls Love Shopping?</h3>
                              <p class="post__text">Being a girl I believe online shopping is the best thing to be done ;-)  We get Lot of variety over there even it may be home appliances, Mobile accessories,  Tablets, Laptops. We can compare the product the product and select the one which suits are requirements a site where i do this is...<a href="">Read more</a></p>
                             
                            </section>
                            <footer class="post__footer">
                              <p class="post__info-comments"><a href="">1000 comments</a></p>
                              <p class="post__info-likes">99</p>
                            </footer>  
                          </article>
                    </li>
                    <li class="latest-posts__item">
                        <article class="post">
                            <header class="post__header">
                              <address><span>By:</span><a href="">user11</a></address><time datetime="2022-10-25"> on 25/10/2022</time>
                            </header>
                            <section class="post__main">
                              <h3>long drives or long walks?</h3>
                              <p class="post__text">Hey, for me that really depends on my mood. I like long drives when I am alone. I just put on some loud music and enjoy the scenery. But when I am with my friends or cousins, then I would rather go on long walks, chatting and giggling. During sunset it is nice to go...<a href="">Read more</a></p>
                            </section>
                            <footer class="post__footer">
                              <p class="post__info-comments"><a href="">0 comments</a></p>
                              <p class="post__info-likes">0</p>
                            </footer>  
                          </article>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <a class="footer__logo logo" href="/">For...<br>umm</a>
            <div class="footer__legal">
                <p>&#169;2022. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>