<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/download.png" type="image/x-icon">
    <title>For... {{.}} umm</title>
</head>
<body id="body">
    <header >
        <div class="header__wrapper">
            <a class="header__logo logo" href="/">For...<br>umm</a>

            <div class="header__filter">
                <a href="">Latest posts</a>
                <a href="">Most Liked</a>
                <a href="">Category</a>
            </div>
            <div class="header__user">
              <a class="button" href="/create-post">Create post</a>
              <a class="button button__signup" href="/logout">Log out</a>
              <span>{{.User.Username}}</span>
            </div>
        </div>
    </header>
    <main>
        <h1 class="visually-hidden">FORUM</h1>
        <div class="main-wrapper">
            <section class="latest-posts">
              {{ if not .Posts}}
                <h2 class="latest-post__heading">Welcome to For ... umm</h2>
                <ul class="latest-posts__list">
                  {{else }}
                  <h2 class="latest-post__heading">Latest posts</h2>
                  <ul class="latest-posts__list">
                    {{range .Posts}}
                      <li class="latest-posts__item">
                          <article class="post">
                            <header class="post__header">
                              <address><span>By:</span><a href="">{{.Username}}</a></address><time datetime=""></time>
                            </header>
                            <section class="post__main">
                              <h3>{{.Heading}}</h3>
                              <p class="post__text">{{.Text}}...<a href="post?id={{.PostId}}">Read more</a></p>
                            </section>
                            <footer class="post__footer">
                              <span class="post__info-comments"><a href="">{{.AmountComments}} comments</a></span>
                              <span class="post__info-likes">{{sub .AmountLikes .AmountDisLikes}}</span>
                            </footer>  
                          </article>
                      </li>
                      {{end}}
                    {{end}}
                </ul>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <a class="footer__logo logo" href="/">For...{{.User.Username}}<br>umm</a>
            <div class="footer__legal">
                <p>&#169;2022. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>